.container-carousel {
    top: -70px;
    position: relative;
    background-color: #2b211d;
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;

}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
    text-decoration: none;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 24px;
}